.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  .logo {
    width: 100px; // Ajustez la largeur selon vos besoins
    height: auto; // Cela maintiendra les proportions de l'image
  }

  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}