input,
textarea {
  padding: 8px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  overflow: hidden;
  align-content: center;

  &:focus {
    outline: 2px solid #FC8C79;
  }
}

textarea {
  width: 100%;
  height: 100%;
  text-align: justify;
  overflow: auto;
}

.texte {
  border-radius: 4px;
  width: fit-content;
  height: 100%;
  overflow-y: auto;

  &:hover {
    background-color: #fffcf4;
  }
}

.paragraphe {
  padding: 8px;
  white-space: pre-wrap;
}