@import 'tailwindcss/components';

.partie-principale-hero{
  height: 700px;

  .logoaccueil {
    opacity: 0.67;
    width: 90%;
  }

  .plumaText {
    position: relative;
    bottom: 300px;
    font-size: 158px;
    color: white;
    z-index: 1;
    text-shadow: 2px 2px 0 #D68E80, -2px -2px 0 #D68E80, 2px -2px 0 #D68E80, -2px 2px 0 #D68E80;
    letter-spacing: 50px;
    margin-left: 50px;
  }
}

.slogan {
  position: relative;
  font-size: 24px;
  color: #D68E80;
  text-align: center;
  font-weight: bold;
}

.slogan::before,
.slogan::after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  background-color: #D68E80;
  top: 50%;
  left: -10px; /* Ajustez l'espace à gauche des traits */
  right: -10px; /* Ajustez l'espace à droite des traits */
  opacity: 0.7; /* Opacité pour adoucir les traits */
}

.slogan::before {
  transform: translateX(-100%);
}

.slogan::after {
  transform: translateX(100%);
}

.btnAccueil {
  font-family: 'Titillium Web', sans-serif;
  width: 150px;
  height: 45px;
  margin-top: 20px;
  border-radius: 50px;
  background-color: #FC8C79;
  transition: all 0.3s ease-in-out;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: white;

  &:hover{
    background-color: #FFAFA5;
  }
}