.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .panel-login {
    width: 75%;
    margin: auto;

    .panel-heading {
      color: #ffffff;
      position: relative;
      text-align: center;
      height: 52px;

      a {
        text-decoration: none;
        background-color: #fc8c79;
        padding-inline: 50px;
        padding-block: 15px;
        letter-spacing: 5px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.1s linear;
        border-radius: 40px 40px 0 0;
        position: absolute;
        top: 0;
        right: 48.5%;

        &:last-child{
          background-color: #bf5748;
          left: 48.5%;
          right: auto;
        }

        &.active {
          color: #029f5b;
          font-size: 18px;
        }
      }
    }

    .panel-body{
      min-height: 50vh;

      #login-form{
        background-color: #fc8c79;
        width: 106%;
        border-radius: 50px 0 0 50px;
      }

      #register-form{
        background-color: #bf5748;
        width: 106%;
        border-radius: 0 50px 50px 0;
      }

      .login-tips{
        border-radius: 0 50px 50px 0;
      }

      .register-tips{
        border-radius: 50px 0 0 50px;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      height: 45px;
      border: 1px solid #ddd;
      font-size: 16px;
      transition: all 0.1s linear;

      &:hover,
      &:focus {
        outline: none;
        box-shadow: none;
        border-color: #ccc;
      }
    }

    .btn-login {
      background-color: #59B2E0;
      outline: none;
      color: #fff;
      font-size: 14px;
      height: auto;
      font-weight: normal;
      padding: 14px 0;
      text-transform: uppercase;
      border-color: #59B2E6;

      &:hover,
      &:focus {
        color: #fff;
        background-color: #53A3CD;
        border-color: #53A3CD;
      }
    }

    .forgot-password {
      text-decoration: underline;
      color: #888;

      &:hover,
      &:focus {
        text-decoration: underline;
        color: #666;
      }
    }

    .btn-register {
      background-color: #1CB94E;
      outline: none;
      color: #fff;
      font-size: 14px;
      height: auto;
      font-weight: normal;
      padding: 14px 0;
      text-transform: uppercase;
      border-color: #1CB94A;

      &:hover,
      &:focus {
        color: #fff;
        background-color: #1CA347;
        border-color: #1CA347;
      }
    }
  }
}
