.containerQuiSommesNous {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  z-index: 99;

  h1 {
    font-size: 30px;
    font-weight: bold;
    color: #FC8C79;
    margin-top: 20px;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #FC8C79;
    margin-top: 20px;
  }

  p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;
  }
}

.decoQuiSommesNous {
  position: absolute;
  opacity: 0.5;

  .livre-ouvert {
    width: 20%;
    margin-left: 5vw;
    margin-top: 150px;
    transform: rotate(0deg);
    animation: floating 3s ease-in-out infinite; /* Utilisez l'animation "floating" */
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 10px); /* Animation vers le bas */
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @media (max-width: 1023px) {
    opacity: 0.2;
  }
}