.corbeille {
  margin-top: 20px;

  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  p {
    color: #555;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      height: 60px;
      transition: height 0.3s ease;
      border: 1px solid rgba(252, 140, 121, 0.1);
      margin-bottom: 8px;
      padding: 10px;
      cursor: pointer;

      .header-element {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        span {
          font-weight: bold;
        }
      }

      &:nth-child(odd) {
        background-color: rgba(255, 175, 165, 0.5);
      }

      &:nth-child(even) {
        background-color: rgba(255, 175, 165, 0.25);
      }

      &.expanded {
        height: 300px;

        .details-element {
          opacity: 100%;
          pointer-events: auto;
          a {
            pointer-events: none;
          }
        }
      }

      .details-element {
        display: flex;
        flex-direction: row;
        margin-top: 8px;
        margin-left: 8px;
        opacity: 0;
        transition: opacity 0.3s ease;
        width: 90%;
        pointer-events: none;
        gap: 2rem;
      }

      .boutons {
        display: flex;

        .bouton {
          margin-left: 8px;
          padding: 4px 8px;
          cursor: pointer;
        }

        .bouton-supprimer {
          background-color: #ff5555;
          color: #fff;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #dd3333;
          }
          &:active {
            background-color: #bb3333;
          }
        }

        .bouton-restaurer {
          background-color: #55aa55;
          color: #fff;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #338833;
          }

          &:active {
            background-color: #336633;
          }
        }
      }
    }
  }
}