.resume-projet {
  display: flex;
  align-items: flex-start;

  a {
    pointer-events: none;
  }

  .info-projet {
    margin-left: 20px;

    .titre{
      height: 40px;
      h2 {
        font-size: 1em;
        margin-bottom: 10px;
      }
    }

    p {
      margin-bottom: 8px;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    select {
      padding: 8px;
      margin-bottom: 16px;
    }

    input,
    textarea {
      width: 100%;
      height: 40px ;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 0.75em;

      &:focus {
        outline: 2px solid #FC8C79;
      }
    }
  }
}

.paragraphe-resume{
  .description {
    font-size: 0.9em;
    line-height: 1.4;
    margin-top: 50px;
    text-align: justify;
  }

  textarea {
    width: 100%;
    height: 300px;
    padding: 8px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em;
    resize: none;
    transition: height 0.3s ease;

    &:focus {
      border-color: #007bff;
    }
  }
}

.editer {
  position: absolute;
  width: 100px;
  bottom: 15px;
  right: 15px;
  padding: 8px;
  border-radius: 25px;
  background-color: #FFAFA5;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d68e80;
  }
}