.mon-espace {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 20px;

  .titre {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1rem;
  }

  .titre-section {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }

  .section {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .arrow-button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      font-weight: 100;
      padding: 1rem;
      height: fit-content;

      &:hover {
        color: #cccccc;
      }
    }

    .liste-recents {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: calc(100% - 7rem);
      gap: 1rem;
    }

    .liste-favoris {
      display: flex;
      flex-flow: nowrap;
      overflow-x: auto;
      width: 100%;
      justify-content: space-between;
      gap: max(calc((100% - 50vw) / 4), 1em);
    }

    .liste-globale {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: calc(100% - 7rem);
      justify-items: center;
      grid-column-gap: calc((100% - 50vw) / 4);
      grid-row-gap: 1rem;
    }
  }

  .button {
    position: relative;
    min-width: 200px;
    max-width: 200px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
    overflow: hidden;
    margin-left: auto;
    margin-right: 4em;
  }

  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }

  .button .button__text {
    transform: translateX(-15px);
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    font-weight: 600;
  }

  .button .button__icon {
    position: absolute;
    right: 0;
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button .svg {
    width: 30px;
    stroke: #fff;
  }

  .button:hover {
    background: #34974d;
  }

  .button:hover .button__text {
    color: transparent;
  }

  .button:hover .button__icon {
    width: 100%;
  }

  .button:active .button__icon {
    background-color: #2e8644;
  }

  .button:active {
    border: 1px solid #2e8644;
  }
}