.mon-espace {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;

  .titre {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1rem;
  }

  .titre-section {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .arrow-button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      font-weight: 100;
      padding: 1rem;
      height: fit-content;

      &:hover {
        color: #cccccc;
      }
    }

    .liste-globale, .liste-recents{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-items: center;
      justify-content: space-between;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      gap: 1.5rem;
    }

    .liste-favoris {
      width: 100%;
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: calc(20% - 8rem);

      .element-liste-projet {
        scroll-snap-align: start;
      }
    }
  }
}
