/*inutile avec tailwind*/
.div-principale {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .contenu {
    flex: 1;
    overflow-y: auto;
  }
}