.toolbar {
  width: 65px;

  .dndnode {
    cursor: grab;
    display: flex;
    justify-content: center;

    &.list {
      cursor: default;
      position: relative;
      transition: 0.2s ease;

      .img-list, svg{
        cursor: pointer;
      }

      &.active{
        .img-list{
          scale: 1.05;
          filter: drop-shadow(1px 1px 3px #000000);
        }

        ul{
          display: block;
        }
      }

      &.personnage {
        ul {
          background: #fc8c79;
        }
      }

      &.lieu {
        ul {
          background: #52ad66;
        }
      }

      &.evenement {
        ul {
          background: #df331a;
        }
      }

      ul {
        display: none;
        position: absolute;
        right: -70px;
        top: 0;
        padding: 5px;
        max-height: 30vh;
        overflow-y: auto;
        width: 70px;

        svg{
          margin-top: 10px;
          width: 40px;
          height: 40px;
          margin-inline: auto;
        }

        li{
          margin-bottom: 15px;
          text-align: center;
          font-size: 12px;
          line-height: 1;
        }

        li img {
          margin-inline: auto;
          cursor: grab;
          width: 40px;
          height: 40px;
          margin-bottom: 5px;
        }

        &:hover{
          display: flex;
        }
      }

      &:hover {
        ul {
          display: block;
        }

        z-index: 21;
      }

      /* ===== Scrollbar ===== */
      /* Firefox */

      scrollbar-width: thin;
      scrollbar-color: #000000 #000000;

      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 3px;
        left: 0;
      }

      *::-webkit-scrollbar-track {
        background: none;
      }

      *::-webkit-scrollbar-thumb {
        background-color: #886052;
        border-radius: 10px;
      }
    }

    &__disabled {
      filter: grayscale(100%);
    }
  }

  img {
    width: 40px;
    max-width: 50px;
  }
}

.generateur-nom{
  button{
    margin-bottom: 12px;

    img{
      width: 27.5px;
    }
  }
}

.overlay {
  position: fixed;
  color: red;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}