.element-liste-projet-general {
  display: flex;
  flex-direction: column;

  $Fav-size: 35px;
  $Fav-lineThickness: 4px;

  .Fav {
    position: absolute;
    cursor: pointer;
    height: $Fav-size;
    width: $Fav-size;
    z-index: 10;

    &:hover {
      .Fav-star {
      }
    }

    &.favorited {
      .Fav-bloom {
        animation: background 0.5s ease both;
      }

      .Fav-sparkle .Fav-sparkle-line::before {
        animation: line 1s ease both;
      }

      .Fav-star {
        animation: star 1s ease both;
      }
    }
  }

  .Fav-label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
  }

  .Fav-label-text {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .Fav-bloom {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border-width: 0;
    border-style: solid;
    border-color: #ffa624;
    will-change: border-width;
  }

  .Fav-star {
    z-index: 1;
    padding: 4px;
    width: 100%;
    height: 100%;
    fill: #EEE;
    transition: all 0.3s ease;
  }

  @keyframes star {
    0% {
      transform: scale(1);
    }

    20% {
      fill: #ffac33;
      transform: scale(0);
    }

    30% {
      transform: scale(0);
    }

    60% {
      transform: scale(1.1);
    }

    70% {
      transform: scale(0.9);
    }

    100% {
      fill: #ffac33;
      transform: scale(1);
    }
  }

  @keyframes background {
    0% {
      border-width: $Fav-size/2;
      transform: scale(0);
    }

    90% {
      transform: scale(1);
    }

    100% {
      border-width: 0;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }





  .element-liste-projet {
    flex: 0 0 auto;
    position: relative;
    font-weight: bold;
    font-size: 1.2rem;

    .rectangle {
      position: relative;
      border-radius: 4px;
      background-color: rgba(255, 175, 165, 0.5);
      width: max(10vw, 6em);
      height: max(10vw / 0.7071, 6em / 0.7071);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75em;

      .favori-icon {
        margin: 5px;
        cursor: pointer;
        z-index: 5;
      }

      .couverture {
        color: rgba(0, 0, 0, 0.75);
        text-align: center;
      }
    }

    .affichage-statut {
      position: absolute;
      border-radius: 50%;
      bottom: -3%;
      right: -3%;
      background-color: #ffffff;
      padding: 6%;

      &.en-cours {
        background-color: #5098e2;
      }

      &.en-pause {
        background-color: #fda001;
      }

      &.termine {
        background-color: #26cf4c;
      }
    }
  }
}
