.element-liste-projet {
  flex: 0 0 auto;
  position: relative;
  font-weight: bold;
  font-size: 1.2rem;

  .rectangle {
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 175, 165, 0.5);
    width: max(10vw, 6em);
    height: max(10vw / 0.7071, 6em / 0.7071);
    &:hover {
      filter: brightness(0.8);
    }
  }

  .nom-projet {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.75);
  }

  .affichage-statut {
    position: absolute;
    border-radius: 50%;
    bottom: -3%;
    right: -3%;
    background-color: #ffffff;
    padding: 6%;

    &.en-cours {
      background-color: #5098e2;
    }

    &.en-pause {
      background-color: #fda001;
    }

    &.termine {
      background-color: #26cf4c;
    }
  }
}
