@import 'tailwindcss/components';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #FFF5E0;
  font-family: 'Titillium Web', sans-serif; /* Ajout de la police pour le conteneur de l'en-tête */
}

.logo-and-text {
  display: flex;
  align-items: center;

  .logo {
    width: 50px;
    height: auto;
  }

  h5 {
    margin-left: 10px;
    font-family: 'Titillium Web', sans-serif; /* Ajout de la police pour le texte dans le logo-and-text */
  }
}

.menu {
  display: flex;
  align-items: center;
}

.menu p {
  margin: 0;
  margin-right: 10px;
  font-family: 'Titillium Web', sans-serif; /* Ajout de la police pour le texte dans le menu */
}