$color1: #FFAFA5;
$color2: #FC8C79;
$color3: #BF5748;

#cog1, #cog2, #cog3{
  animation:spin 4s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay:0.6s;
}

#cog1 {fill:$color1;}

#cog2{
  animation:spinback 4s linear infinite;
  animation-delay:0.6s;
  fill:$color2;
}

#cog3 {fill:$color3;}

@keyframes pop{
  0%{transform: scale(0);}
  90%{transform: scale(1.1);}
  100%{transform: scale(1);}
}
@keyframes spin {
  100% { transform: rotate(360deg);}
}
@keyframes spinback {
  100% { transform: rotate(-360deg);}
}

.error-container {
  text-align: center;
}

.animate-404 {
  margin: 0 auto 0;
  border-radius: 50%;
  overflow: hidden;
  width: 170px;
  height: 170px;
  position: relative;
  background-color: #f9f9f9;
  box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.1);

  & > svg {
    animation: pop 0.4s ease-in;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -50%);
  }
}

.error-code {
  font-size: 100px;
  color: $color1;
  line-height: 1em;
}

.error-desc {
  color: $color3;
}

.btn404 {
  font-family: 'Titillium Web', sans-serif;
  width: 150px;
  height: 45px;
  margin-top: 20px;
  border-radius: 50px;
  background-color: #FC8C79;
  transition: all 0.3s ease-in-out;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: white;

  &:hover{
    background-color: #FFAFA5;
  }
}