@import 'tailwindcss/components';

body {
  background-color: #FFF5E0;
  font-family: 'Titillium Web', sans-serif;
}

.btnAccueil {
  transition: all 0.3s ease-in-out;
  font-family: 'Titillium Web', sans-serif; /* Ajout de la police pour le bouton */
  width: 120px;
  height: 40px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #FC8C79 20%, #FFAFA5 100%);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: white;
}