@import 'tailwindcss/components';

body {
  background-color: #FFF5E0;
  font-family: 'Titillium Web', sans-serif;
}

.logoaccueil {
  opacity: 0.67;
  width: 647.9px;
  height: 647.9px;
}

.btnAccueil {
  transition: all 0.3s ease-in-out;
  font-family: 'Titillium Web', sans-serif;
  width: 120px;
  height: 40px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #FC8C79 20%, #FFAFA5 100%);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: white;
}

.plumaText {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 158px;
  color: white;
  z-index: 1;
  text-shadow: 2px 2px 0 #D68E80, -2px -2px 0 #D68E80, 2px -2px 0 #D68E80, -2px 2px 0 #D68E80;
  letter-spacing: 50px; /* Ajustez cette valeur pour l'espacement des lettres */
}